

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pippa's Pizza</title>

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


</head>

<body>

<!-- Start of first page: #one -->
<div data-role="page" id="one">

	<div data-role="header">
		<h1>Pippa's Pizza</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Welcome!</h2>

		<br>
        Welcome to the application, login or register.

		<h3>Show internal pages:</h3>
		<p><a href="#register" class="ui-btn ui-shadow ui-corner-all">Register</a></p>
		<p><a href="#login" class="ui-btn ui-shadow ui-corner-all">Login</a></p>

	</div><!-- /content -->

	<div data-role="footer" data-theme="a">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page one -->

<!-- Start of #popup -->
<div data-role="page" id="success">

	<div data-role="header" data-theme="b">
		<h1>Dialog</h1>
	</div><!-- /header -->

	<div role="main" class="ui-content">
		<h2>Congratulations - you have successfully registered!</h2>
		<p>Please log in to enjoy our tasty delights!</p>
		<p><a href="#login" data-rel="login" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-icon-back ui-btn-icon-left">Login</a></p>
	</div><!-- /content -->

	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->
</div><!-- /page popup -->



<div data-role="page" id="login" data-theme="a">
    <div data-role="header">
		<h1>Login page</h1>
	</div><!-- /header -->

     <div role="main" class="ui-content">
		<h2>Login</h2>
	   Username <input type="text" name="login_username" id="login_username" value="">
       Password <input type="password" name="login_pass" id="login_pass" value="">
        <button class="ui-btn" id="loginButton">Submit</button>        
	</div><!-- /content -->
</div>


<div data-role="page" id="driver" data-theme="a">

       <div data-role="header">
		<h1>Driver</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
	  <button onclick="viewWeather()">View Weather Information</button>
	  <button onclick="viewDriverOrders()">View Orders</button>
	  
	  
	  
	  <script>
	
	  
	  function viewWeather() {
	      $( "#weather" ).show();
	      $( "#driverOrders" ).hide();
	  }
	  
	  function viewDriverOrders() {
		   $( "#driverOrders" ).show();
		   $( "#weather" ).hide();
	  }
	  
	  
	  
	  </script>
	  <div id="driverOrders">
	  <h1>Orders Go Here:</h1>
	   <script>
	    $( "#driverOrders" ).hide();
	  </script>
	  </div>
	  <div id="weather">   
	    <h1>Today's Weather:</h1>
		<div id="weatherTable">
    <script>
        $.getJSON( "http://api.openweathermap.org/data/2.5/weather?q=Dublin&units=metric&APPID=a61ee660dd5693d29ccc68f5397830fc", function( data ) { //appended metric units for output
  
         var main = data.main; //humidity(%), pressure(hPa), temp(C), temp_max, temp_min
	     var loc = data.name;	
	     var displayweather = "";
	 
	     displayweather = displayweather + '<div class="ui-grid-a">';
         displayweather = displayweather + '<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:35px">Location:</div></div>';
         displayweather = displayweather + '<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:35px">'+loc+'</div></div>';

         displayweather = displayweather + '<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:35px">Current Temperature:</div></div>';
         displayweather = displayweather + '<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:35px">'+main.temp+'&#8451</div></div>';

	     displayweather = displayweather + '<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:35px">Min. Temperature:</div></div>';
         displayweather = displayweather + '<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:35px">'+main.temp_min+'&#8451</div></div>';

         displayweather = displayweather + '<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:35px">Max. Temperature:</div></div>';
         displayweather = displayweather + '<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:35px">'+main.temp_max+'&#8451</div></div>';

	     displayweather = displayweather + '<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:35px">Humidity:</div></div>';
         displayweather = displayweather + '<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:35px">'+main.humidity+'%</div></div>';

         displayweather = displayweather + '<div class="ui-block-a"><div class="ui-bar ui-bar-a" style="height:35px">Pressure:</div></div>';
         displayweather = displayweather + '<div class="ui-block-b"><div class="ui-bar ui-bar-a" style="height:35px">'+main.pressure+'(hPa)</div></div></div>';


	 
	    $( "#weatherTable" ).html(displayweather);   
		console.log(data);
      });
	  
	  
	  $( "#weather" ).hide();
	  </script>
    </div> <!-- end weather div -->
	</div>
	</div><!-- /content -->
</div>

<div data-role="page" id="register" data-theme="a">

       <div data-role="header">
		<h1>Register</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
		<h2>Register</h2>
        
       Username <input type="text" name="username" id="username" value="">
       Password <input type="password" name="pass" id="pass" value="">
        <!--AccType <input type="text" name="acctype" id="acctype" value=""> -->
	    <form>
        <fieldset data-role="controlgroup" data-type="horizontal">
        <legend>Account Type:</legend>
        <input type="radio" name="acctype" id="acctype1" value="customer" checked="checked">
        <label for="acctype1">Customer</label>
        <input type="radio" name="acctype" id="acctype2" value="manager">
        <label for="acctype2">Manager</label>
        <input type="radio" name="acctype" id="acctype3" value="driver">
        <label for="acctype3">Driver</label>
   		</fieldset>
		</form>
       <button class="ui-btn" id="registerButton">Submit</button>


	</div><!-- /content -->
</div>

<div data-role="page" id="customer" data-theme="a">

       <div data-role="header">
		<h1>Customer</h1>
      </div><!-- /header -->

<div role="main" class="ui-content">

<button id="vieworders">Test</button>

<div id="cartlink" data-role="footer" data-position="fixed" data-theme="b">	
<h2>You have items in your cart!<a href="#cart" class="ui-btn ui-shadow ui-corner-all ui-btn-inline ui-mini">View Cart</a></h2>
<script> $( "#cartlink" ).hide(); //hides view cart link on first page load - then update cart controls it after that </script>
</div>
 
<!-- Menu -->
<ul data-role="listview" data-inset="true" data-divider-theme="a">
    <li data-role="list-divider">Pizza</li>
    <li><h4>Hawaiian</h4><button id="addProduct1" productname="hawaiian">Add</button><button id="removeProduct1" productname="hawaiian">Remove</button><input type="text" id="hawaiianQty"/></li>
    <li><h4>New Yorker</h4><button id="addProduct2" productname="newyork">Add</button><button id="removeProduct2" productname="newyork">Remove</button><input type="text" id="newyorkQty"/></li>
    <li><h4>House Special</h4><button id="addProduct3" productname="house">Add</button><button id="removeProduct3" productname="house">Remove</button><input type="text" id="houseQty"/></li>
    <li data-role="list-divider">Sides</li>
    <li><h4>Potato Wedges</h4><button id="addProduct4" productname="wedges">Add</button><button id="removeProduct4" productname="wedges">Remove</button><input type="text" id="wedgesQty"/></li>
    <li><h4>Garlic Bread</h4><button id="addProduct5" productname="gbread">Add</button><button id="removeProduct5" productname="gbread">Remove</button><input type="text" id="gbreadQty"/></li>
	<li data-role="list-divider">Drinks</li>
	<li><h4>Cocal Cola 330ml</h4><button id="addProduct6" productname="cola">Add</button><button id="removeProduct6" productname="cola">Remove</button><input type="text" id="colaQty"/></li>
	<li><h4>Fanta 330ml</h4><button id="addProduct7" productname="fanta">Add</button><button id="removeProduct7" productname="fanta">Remove</button><input type="text" id="fantaQty"/></li>
	<li><h4>Sprite 330ml</h4><button id="addProduct8" productname="sprite">Add</button><button id="removeProduct8" productname="sprite">Remove</button><input type="text" id="spritedQty"/></li>
 
</ul>

	
</div>

	<!-- rightpanel2  -->
	<div data-role="panel" id="cart" data-position="right" data-display="push" data-theme="b">
	<h2>Your cart:</h2>

	
        <div id="myCart">
<script>
//////////////////////////////actions on customer page/////////////////////////////////////////////////////

/// template for a product

class product {
  constructor(name, price, qty, view) { //view used for display purposes
    this.name = name
    this.price = price;
    this.qty = qty;
	this.view = view;
  }
}





// define our products
//Pizza
hawaiian = new product("hawaiian", 5, 0, "Hawaiian");
newyork = new product("newyork", 5, 0, "New Yorker");
house = new product("house", 5, 0, "House Special");

//sides
wedges = new product("wedges", 5, 0, "Potato Wedges");
gbread = new product("gbread", 5,0, "Garlic Bread");

//drinks
cola = new product("cola", 1, 0, "Coca Cola 330ml");
fanta = new product("fanta", 1, 0, "Fanta 330ml");
sprite = new product("sprite", 1, 0, "Sprite 330ml");


var prod = []; //array for products

prod.push(hawaiian);
prod.push(newyork);
prod.push(house);
prod.push(wedges);
prod.push(gbread);
prod.push(cola);
prod.push(fanta);
prod.push(sprite);


var counter = 0; //may not be needed now



$('[id^=addProduct').click(function(){
    
    var p = $(this).attr('productname'); // find out what was clicked - $(this) refers to button that was pressed, then look for the attribute
    
    var arrayLength = prod.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = prod[i] // get one product at a time
        //console.log(pro.name);
        
        if(p == pro.name) { //if p matches the current item in the array, increase the quantity by 1
        
            //console.log(pro.qty);
            
            pro.qty = pro.qty + 1;
			counter++;
            
              $( "#"+pro.name+"Qty" ).val(pro.qty);
			 
        }
		if(counter > 0) {
		$( "#cartlink" ).show();
		}
		else{
			$( "#cartlink" ).hide();
		}
        //Do something      
		
		
    }


    
});


$('[id^=removeProduct').click(function(){
   
   var p = $(this).attr('productname'); // find out what was clicked - $(this) refers to button that was pressed, then look for the attribute
   
    var arrayLength = prod.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = prod[i]; // get one product at a time
        //console.log(pro.name);
        
        if(p == pro.name) { //if p matches the current item in the array, increase the quantity by 1
        
            //console.log(pro.qty);
            
            pro.qty = pro.qty - 1;
            counter--;
              $( "#"+pro.name+"Qty" ).val(pro.qty);

        }
		
		 if(counter > 0) {
		$( "#cartlink" ).show();
		}
		else{
		$( "#cartlink" ).hide();
		}
	}
       
        
});

$( "#cart" ).click(function(){
var content = "";
var arrayLength = prod.length;
for (var i = 0; i < arrayLength; i++) {
    
	var pro = prod[i];
	
	if (pro.qty > 0) {
	   content = content + "<p>" + pro.view + " (x" + pro.qty + ") - €" + pro.qty*pro.price + "</p>";
	   }
    }
$( "#myCart" ).html(content);
});


</script>
 </div>
		
        <a href="#demo-links" data-rel="close" class="ui-btn ui-shadow ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-left ui-btn-inline">Close</a>
		<button onclick="checkout()"/>Checkout</button>

	</div><!-- /rightpanel2 -->
 
	</div><!-- /content -->
</div>


<div data-role="page" id="manager" data-theme="a">

       <div data-role="header">
		<h1>Manager</h1>
      </div><!-- /header -->

      <div role="main" class="ui-content">
		<p>test</p>
  
 


	</div><!-- /content -->
</div>
</body>

<script>

//////////////////////actions for clicking login button ////////////////////////////////
$( "#loginButton" ).click(function() {
  
      var un = $( "#login_username" ).val();
      console.log(un);
      
      var pw = $( "#login_pass" ).val();
      console.log(pw);
      

      
      
      $.post( "/backend", { type: "login", username:un, password:pw})
     .done(function( data ) {
        //alert( "Data Loaded: " + data );
        
        
        if(data == 'customer'){
            window.location="/index#customer";
        }
        else if(data == 'driver'){
            window.location="/index#driver";
        }   
        else if(data == 'manager'){
            window.location="/index#manager";
        }   		
        
       });
  
  
});


////////////////////////actions for clicking register button ///////////////////////////////////////////
$( "#registerButton" ).click(function() { //when register button is pressed
  
      var un = $( "#username" ).val(); //grab value from username field and assign it to variable un
      console.log(un);
      
      var pw = $( "#pass" ).val();
      console.log(pw);
      
      var at = $( "input[name=acctype]:checked" ).val(); //grabs value of checked radio button
      console.log(at);
      
      
      
      $.post( "/backend", { type: "register", username:un, password:pw, acctype:at})
     .done(function( data ) {
        alert( "Data Loaded: " + data );
		
       });
  
	 window.location="/index#success";
  

  
  
});



$( "#vieworders" ).click(function() {
  
   
      $.post( "/backend", { type: "vieworders"})
     .done(function( data ) {
	 alert("Data loaded: " + data);
	 console.log(data);
	 });
	 
  
});




function checkout(){

var ser = '';

 var arrayLength = prod.length;
    for (var i = 0; i < arrayLength; i++) { // loop over the products
        
        var pro = prod[i] // get one product at a time
        console.log(pro.name);
        console.log(pro.qty);
        
        ser = ser + pro.name + '-' + pro.qty + '='; //flattens the array into one long string, using = as a delimiter 
        
      //
     }

$.post( "/backend", { type: "placeorder", ser: ser, address: "41 Cill Ban, Tullamore", status: "pending"})
      .done(function( data ) {
        alert( "Data Loaded: " + data );
      });
}


/*

////function to update the cart.
function updateCart(){
       var content = "";
      
      if (wedges.qty >= 1) { // check to see if we should add it or not
          content = content + "<p>Wedges x" + wedges.qty + " = €" + wedges.qty * wedges.price + "</p><br>";	
		  od = wedges.name +" x "+wedges.qty;
      }
	  
	  if (hawaiian.qty >=1) {
	  content = content + "<p>Hawaiian x" + hawaiian.qty + " = €" + hawaiian.qty * hawaiian.price +"</p><br>";	
      }
	 
      // display the content variable in the myCart div.
       $( "#myCart" ).html(content);
	
    
      if(counter <= 0){    
          $( "#myCart" ).hide();
		  $( "#cartlink" ).hide();
		  
		 
      } else {
       $( "#myCart" ).show();     
		$( "#cartlink" ).show();	   
		
      }
	  

}

*/

</script>
















</html>
